<div class="EntriesContainer">
    <div class="scroll-header">
        <h2>Previous Entries</h2>
    </div>	
    <div class="scroll-entries">
        <ul class="collapsible entries">

        </ul>
    </div>
</div>

<script src="/public/js/entries.js"></script>