<!-- header-start -->
<header>
    <div class="header-area">
        
        <div id="sticky-header" class="main-header-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-2">
                        <div class="logo">
                            <a href="/">
                                <ul>
                                    <li><img src="img/logo.png" alt=""></li>
                                    <li><h3>MyTherapy</h3></li>
                                </ul>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-xl-6 col-lg-7">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    
                                    <li><a class="active" href="/">Home</a></li>

                                    <li><a href="/entries">Entries</a></li>

                                    <!-- Account Details-->
                                    <li class="logged-in" style="display: none;">
                                        <a href="#" class="modal-trigger" data-target="modal-account"><i class="fa fa-id-card" aria-hidden="true"></i> Account</a>
                                    </li>

                                    <!-- Therapist Section-->
                                    <li class="admin" style="display: none;">
                                        <a href="therapist.html" class="link"><i class="fa fa-cogs" aria-hidden="true">Patients</i></a>
                                    </li>

                                    <!-- Logout -->
                                    <li class="logged-in" style="display: none;">
                                        <a href="#" id="logout" class="link"><i class="fa fa-user-circle" aria-hidden="true"></i> Logout</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    
                    <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                        <div class="Login_Register">
                            <div class="login_btn d-none d-lg-block">
                                <a class="popup-with-form" href="#login-form">Login</a>
                                <a class="popup-with-form" href="#register-form">Register</a>                           
                            </div>
                        </div>
                    </div>

                    
                
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>