/* Header */
.header-area {
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 9;
  border-bottom: 1px solid #BABABA;
}

.header-area .main-header-area {
  padding: 18px 0;
  background: #fff;
}

.login_btn a {
  background: #333399;
  padding: 12px 26px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid transparent;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/*** Modals ***/
/* Login Modal */
.modal-form {
  display: inline-block;
  margin: auto;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal-form .mfp-close-btn-in .mfp-close {
  color: #333;
  display: none !important;
}

.modal-form button.mfp-close {
  display: none !important;
}

/* Register Modal*/

/* New Entry

/* Shared elements*/
label {
  color: #000000;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}


.submit_btn{
  background: #333399;
  padding: 12px 26px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid transparent;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.input-field{
  padding-top: 10px;
  padding-bottom: 10px;
}

.popup_box {
  background: #fff;
  display: inline-block;
  z-index: 9;
  width: 681px;
  padding: 60px 40px;
}

.popup_box .boxed-btn3 {
  width: 100%;
  text-transform: capitalize;
}

.popup_box input {
  width: 100%;
  height: 50px;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
}


.popup_box h3 {
  text-align: center;
  font-size: 22px;
  color: #333999;
  margin-bottom: 46px;
}

/*** Carousel ***/
/* Carousel item 1 */
.slider_area{
  border-bottom: 1px solid #BABABA;
}

.slider_bg_1 {
  background-image: url(../images/slider/therapy.jpg);
}

/* Carousel item 2 */
.slider_bg_2 {
  background-image: url(../images/slider/cbt.png);
  width: 100%;
}

.slider_area .single_slider {
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 767px) {
  .slider_area .single_slider {
    height: 420px;
  }
}

/*** Emergency Links Section ***/
.emergency-header
{
    color: #000000;
    text-align: center;
}

.header{
    color: #000000;
    font-weight: 500;
    font-size: 26px;
    padding-top: 60px;
}

.about_mytherapy {
    border-bottom: 1px solid #000000;
    padding-top: 60px;
    
}

.hollow_button{
    color: #333399 !important;
    display: inline-block;
    padding: 9px 24px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    border: 0;
    border: 1px solid #333399;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
}

/*** About MyTherapy Section ***/
.about_mytherapy .aboutImage {
    position: relative;
}
  
.about_mytherapy .aboutImage {
    left: 0;
}
  
.about_mytherapy .aboutImage img {
    width: 100%;
}
  
@media (max-width: 767px) {
.about_mytherapy .aboutImage img {
  width: 100%;}
}

.service_head{
    padding-top: 10px;
    padding-bottom: 2px;
    color: #000000;
}

/* line 1, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_service.scss */
.emergency_area {
  background: #f0f0f0;
  padding-bottom: 30px;
}

/* line 3, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_service.scss */
.emergency_area .single_service {
  padding: 40px 30px;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 3, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_service.scss */
  .emergency_area .single_service {
    padding: 40px 20px;
  }
}

/* line 8, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_service.scss */
.emergency_area .single_service .icon {
  margin-bottom: 10px;
}

.emergency_area .single_service .icon i {
  font-size: 50px;
  color: #000000;
}

/* line 15, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_service.scss */
.emergency_area .single_service h3 {
  font-size: 26px;
  font-weight: 500;
  color: #000000;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 15, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_service.scss */
  .emergency_area .single_service h3 {
    font-size: 20px;
  }
}

/* line 23, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_service.scss */
.emergency_area .single_service p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 26px;
}

.middle-service{
  border-left: 1px solid black;
  border-right: 1px solid black;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 34, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_service.scss */
  .service_area .single_service .boxed-btn3-white {
    padding: 5px 10px;
  }
}

/* line 40, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_service.scss */
.service_area .col-xl-4:nth-child(2) .single_service {
  background: #333399;
}

/* line 1, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_footer.scss */
.footer {
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #333399;
    color: white;
  }
  
  /* line 6, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_footer.scss */
  .footer .footer_top {
    padding-top: 145px;
    padding-bottom: 129px;
    background: #333399;
  }
  
  @media (max-width: 767px) {
    /* line 6, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_footer.scss */
    .footer .footer_top {
      padding-top: 60px;
      padding-bottom: 30px;
    }
  }

  
  /* line 21, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .footer_title {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 40px;
  }
  
  @media (max-width: 767px) {
    /* line 21, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_footer.scss */
    .footer .footer_top .footer_widget .footer_title {
      margin-bottom: 20px;
    }
  }
  
  /* line 31, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .footer_logo {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 40px;
  }
  
  @media (max-width: 767px) {
    /* line 31, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_footer.scss */
    .footer .footer_top .footer_widget .footer_logo {
      margin-bottom: 20px;
    }
  }
  
  /* line 41, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget p {
    color: white;
  }
  
  /* line 44, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget p.footer_text {
    font-size: 16px;
    color: #B2B2B2;
    margin-bottom: 23px;
    font-weight: 400;
    line-height: 28px;
  }
  
  /* line 50, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget p.footer_text a.domain {
    color: #B2B2B2;
    font-weight: 400;
  }
  
  /* line 53, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget p.footer_text a.domain:hover {
    color: #5DB2FF;
    border-bottom: 1px solid #5DB2FF;
  }
  
  /* line 59, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget p.footer_text.doanar a {
    font-weight: 500;
    color: #B2B2B2;
  }
  
  /* line 63, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget p.footer_text.doanar a:hover {
    color: #5DB2FF;
    border-bottom: 1px solid #5DB2FF;
  }
  
  /* line 67, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget p.footer_text.doanar a.first {
    margin-bottom: 10px;
  }
  
  .footer .footer_top .footer_widget ul li a {
    font-size: 16px;
    color: #BABABA;
    line-height: 42px;
  }
  
  /* line 80, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget ul li a:hover {
    color: #5DB2FF;
  }
  
  /* line 86, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .newsletter_form {
    position: relative;
    margin-bottom: 20px;
  }
  
  .footer .footer_top .footer_widget .newsletter_form input {
    width: 100%;
    height: 45px;
    background: #fff;
    padding-left: 20px;
    font-size: 16px;
    color: #000;
    border: none;
  }
  
  /* line 97, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .newsletter_form input::placeholder {
    font-size: 16px;
    color: #919191;
  }
  
  .footer .footer_top .footer_widget .newsletter_form button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border: none;
    font-size: 14px;
    color: #fff;
    background: #5DB2FF;
    padding: 10px;
    padding: 0 22px;
    cursor: pointer;
  }
  
  .footer .footer_top .footer_widget .newsletter_text {
    font-size: 16px;
    color: #BABABA;
  }
  
  .footer_head{
      color: white;
  }

/* Entries page */ 
.entries-box{
  border-left: 1px solid #919191;
  padding-top: 10px;
  padding-bottom: 30px;
}

.submit_btn{
  cursor: pointer;
}