<!-- Header -->
<div class="row">
    <div class="col-sm-10" style="padding-left: 60px; text-align: center;">
        <h2>Entries</h2>
    </div>
    
    <div class="col-sm-2">
        <a href="#help-box" class="hollow_button popup-with-form"><i class="icon-info"></i></a>
    </div>

</div>

<!-- Main Body -->
<div class="row" style="padding-bottom: 30px; padding-left: 10px;">
    <!-- Sidebar -->
    <div class="col-sm-2">
        <div class="login_btn d-none d-lg-block">
            <a class="popup-with-form" href="#entry-form"><i class="icon-plus"></i> New Entry</a>
        </div>
    </div>

    <!-- Entry list area-->
    <div class="col-sm-8 entries-box">
        
    </div>

    <!-- Spacer -->
    <div class="col-sm-2"></div>

</div>


<!-- New Entry Form -->
<form id="entry-form" class="white-popup-block mfp-hide modal-form">
    <div class="popup_box ">
        <div class="popup_inner">
            <h3>New Entry</h3>
            
            <form id="entry">
                <p>Date: <span id="date"></span></p>
                
                <!-- Script to get current date-->
                <script>
                    var dt = new Date();
                    document.getElementById("date").innerHTML = dt.toLocaleDateString();
                </script>

                <div class="input-field">
                    SUD: 
                    <select name="suds" id='suds' required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                
                Summary:<br>
                <div class="input-field">
                    <textarea id="summary" class="materoalize-textarea" required></textarea>
                </div>
                
                <button class="submit_btn">Save Entry</button>
            </form>
        </div>
    </div>
</form>

<!-- Help Box -->
<form id="help-box" class="white-popup-block mfp-hide modal-form">
    <div class="popup_box ">
        <div class="popup_inner">
            <h3>Help</h3>
            <p>
                This page displays or will display all of your previously created
                entries. From here you can view these entries, create new entries
                or edit the entry you created today. 
            </p>

            <h4>Creating New Entries</h4>
            <div style="text-align: left;  padding-bottom: 10px;">
                <ul>
                    <li>1. Click the "New Entry" button on the left of the page</li>
                    <li>2. Select your SUD from the drop down (higher is generally the more intense emotion)</li>
                    <li>3. Type a summary of your day in the text area lablelled "Summary"</li>
                    <li>4. When finished click "Save Entry".</li>
                </ul><br>
                <p>You can edit your entry anytime before the end of the day</p>
            </div>

            <h4>Editting an Entry</h4>
            <div style="text-align: left; padding-bottom: 10px;">

            </div>

            
        </div>
    </div>
</form>