
<!-- Header carousel -->
<div class="slider_area">
    <div class="slider_active owl-carousel">

        <!-- Carousel element 1 - About MyTherapy -->
        <div class="single_slider  d-flex align-items-center slider_bg_2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3> <span>MyTherapy</span></h3>
                            <p>
                                My Therapy is a tool that can be used as a tool <br> 
                                by therapists and patients, to gather information <br>
                                between sessions.
                            </p>
                            <a href="#" class="boxed-btn3">Find out more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Carousel element 2 - about CBT -->
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3> <span>Based on CBT</span></h3>
                            <p>In healthcare sector, service excellence is the facility of <br> the hospital as
                                healthcare service provider to consistently.</p>
                            <a href="#" class="boxed-btn3">Find out more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single_slider  d-flex align-items-center slider_bg_2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3> <span>Health care</span> <br>
                                For Hole Family </h3>
                            <p>In healthcare sector, service excellence is the facility of <br> the hospital as
                                healthcare service provider to consistently.</p>
                            <a href="#" class="boxed-btn3">Find out more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Emergency Links -->
<div class="service_area">
    <div class="container p-0">
        
        <div class="emergency-header col-sm-13">
            <h3>Emergency Links</h3>
        </div>
        <div class="row no-gutters">
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="flaticon-emergency-call"></i>
                    </div>
                    <h3>Samaritans</h3>
                    <p>Emotional support for emotional distress, coping and suicidal thoughts</p>
                    <a href="#" class="boxed-btn3-white">116 123</a>
                </div>
            </div>

            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="flaticon-emergency-call"></i>
                    </div>
                    <h3>Pieta House</h3>
                    <p>Self harm and suicide prevention. 24/hr support by calling:</p>
                    <a href="#" class="boxed-btn3-white">1800 247 247</a>
                    <p>or text HELP to</p>
                    <a href="#" class="boxed-btn3-white">514444</a>
                </div>
            </div>
            
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="flaticon-emergency-call"></i>
                    </div>
                    <h3>Luciena Clinic</h3>
                    <p>Child and Adolescental Mental health service, provding care with a range of conditions</p>
                    <a href="https://www.lucenaclinic.ie/" class="boxed-btn3-white">Visit Site</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service_area_end -->