<!-- Logged Out -->
<div class="logged-out" style="display: none;">
    <%- include('partials/Home-logged-out.ejs') %>
</div>

<!-- Logged In -->
<div class="logged-in" style="display: block;">
    <%- include('partials/Home-logged-in.ejs') %> 
</div>

<!-- Emergency Links -->
<div class="emergency_area">
    <div class="container p-0">
        
        <div class="emergency-header col-sm-13">
            <h2 class="header">Emergency Links</h2>
        </div>
        <div class="row no-gutters">
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="service_head">
                        <h3>Samaritans</h3>
                    </div>
                    
                    <p>Emotional support for emotional distress, coping and suicidal thoughts</p>
                    <a href="#" class="hollow_button">116 123</a>
                </div>
            </div>

            <div class="col-xl-4 col-md-4">
                <div class="single_service middle-service">
                    <div class="service_head">
                        <h3>Pieta House</h3>
                    </div>
                    
                    <p>Self harm and suicide prevention. 24/hr support by calling:</p>
                    <a href="#" class="hollow_button">1800 247 247</a>
                    <p>or text <b>HELP</b> to</p>
                    <a href="#" class="hollow_button">514444</a>
                </div>
            </div>
            
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="service_head">
                        <h3>Luciena Clinic</h3>
                    </div>
                    
                    <p>Child and Adolescental Mental health service, provding care with a range of conditions</p>
                    <a href="https://www.lucenaclinic.ie/" class="hollow_button">Visit Site</a>
                </div>
            </div>
        </div>
    </div>
</div>