head{
	width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 30;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.sidebar{
  width: 80%;
}

.sidenav {
  height: 400%;
  width: 110%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.sidenav a {
  padding-top: 6px;
  text-decoration: none;
  text-align: left;
  font-size: 18px;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.col{
	float: left;
	padding-top:40px;
	padding-left: 500px;
	width: 46%;
}

textarea {
  width: 42%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #4CAF50;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

input[type=text] {
  width: 35%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #4CAF50;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
}

.space{
  height: 5opx;
}


.NewEntry{
  font-size: 16;
}

.title
{
  color: #f1f1f1;
  font-size: xx-large;
}

/* The Modal (background) */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 30%;
  overflow: auto;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  float: left;
  text-align: left;
  background-color: #555;
  color: white;
}

.scroll-header
{
  width: 41.5%;
  color: #ffffff;
  background-color: #333;
  font-size: x-large;
}

.scroll-entries
{
  border: 1px solid black;
  width: 41.5%;
  height: 100%;
  overflow: scroll;
}

.container{
  width: 81%;
  background-color: #ffffff;
  margin-top: 40px;
  overflow: auto;
}

.entries
{
  background-color: #ffffff;
  font-size: large;
}

.collapsible
{
  width: 100%;
}

.collapsible-header
{
  border-top: 1px solid #555;
  width: 500px;
  font-size: large;
}

.collapsible-body
{
  width: 500px;
  float: left;
}

.Date
{

  float: left;
}

.Suds
{
  float: right;
}

.quickAdd{
  background-color: #555;
  color: #ffffff;
  padding: 10px 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 3px grey;
}

.quickAdd:hover {
  background-color: green;
}

.quickAdd:active
{
  transform: translateY(3px);
  box-shadow:0 1px grey;
}